<style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-z2al{font-family:Tahoma, Geneva, sans-serif !important;;font-weight:bold;text-align:center;vertical-align:top}
        .tg .tg-waok{border-color:inherit;font-family:Tahoma, Geneva, sans-serif !important;;font-weight:bold;text-align:center;
                vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<h2>Dashboards</h2>
<table class="tg">
        <thead>
        <tr>
                <th class="tg-waok">ID</th>
                <th class="tg-z2al">Name</th>
                <th class="tg-z2al">Delete at</th>
        </tr>
        </thead>
        <tbody>
        {{range .Dashboards}}
        <tr>
                <td class="tg-0lax">{{.ID}}</td>
                <td class="tg-0lax">{{.Name}}</td>
                <td class="tg-0lax">{{.Deletetime}}</td>
        </tr>
        {{end}}
        </tbody>
</table>

<h2>Detectors</h2>
<table class="tg">
        <thead>
        <tr>
                <th class="tg-waok">ID</th>
                <th class="tg-z2al">Name</th>
                <th class="tg-z2al">Delete at</th>
        </tr>
        </thead>
        <tbody>
        {{range .Detectors}}
                <tr>
                        <td class="tg-0lax">{{.ID}}</td>
                        <td class="tg-0lax">{{.Name}}</td>
                        <td class="tg-0lax">{{.Deletetime}}</td>
                </tr>
        {{end}}
        </tbody>
</table>

<h2>Teams</h2>
<table class="tg">
        <thead>
        <tr>
                <th class="tg-waok">ID</th>
                <th class="tg-z2al">Name</th>
                <th class="tg-z2al">Delete at</th>
        </tr>
        </thead>
        <tbody>
        {{range .Teams}}
                <tr>
                        <td class="tg-0lax">{{.ID}}</td>
                        <td class="tg-0lax">{{.Name}}</td>
                        <td class="tg-0lax">{{.Deletetime}}</td>
                </tr>
        {{end}}
        </tbody>
</table>